/* Custom CSS for your KeyDown presentation here */

/* Uncomment to turn off deck.js navigation */
/*.deck-prev-link,*/
/*.deck-next-link {*/
    /*display: none;*/
/*}*/

/* Uncomment to turn off deck.js status */
/*.deck-status {*/
    /*display: none;*/
/*}*/

@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

html, body, .keydown.deck-container, .slide.marker {
  background: rgb(254,213,49) !important;
}

.slide.marker .content h1,
.slide.marker .content h2,
.slide.marker .content h3,
.slide.marker .content h4 {
  -webkit-transform: rotate(-5deg);
  color: rgb(123,125,204) !important;
  font-style: italic;
  font-family: "Permanent Marker", serif;
}