/* Custom CSS for your KeyDown presentation here */

/* Uncomment to turn off deck.js navigation */
/*.deck-prev-link,*/
/*.deck-next-link {*/
    /*display: none;*/
/*}*/

/* Uncomment to turn off deck.js status */
/*.deck-status {*/
    /*display: none;*/
/*}*/

@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

.slide.marker .content h1,
.slide.marker .content h2,
.slide.marker .content h3,
.slide.marker .content h4 {
  -webkit-transform: rotate(-5deg);
  color: #4b0082;
  font-style: italic;
  font-family: "Permanent Marker", serif;
}